html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 900;
}
.hero.is-success {
background-image: url("Sao_Paulo_Office.jpg");
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}

/**

#login2
{position: absolute;
    top:10%;
  	 left:39%;}
body
{background-image: url("Sao_Paulo_Office.jpg") ;
  background-attachment: fixed;
    background-size: 135%;
      background-repeat: no-repeat;}
#formelogin
{position: absolute;
    top:38%;
      left:39.5%;}
#LSLWARS
{position: absolute;
  top:100%;
    left:35%;}
